name: Post Twitter

on:
  workflow_dispatch:

jobs:
  post-twitter:
    name: twitterに投稿する
    environment: Post Twitter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.GH_PAT || github.token }}
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Set up ffmpeg
        run: sudo apt-get update && sudo apt-get install -y ffmpeg
      - name: twitterに投稿する
        env:
          TWITTER_API_KEY: ${{ secrets.TWITTER_API_KEY }}
          TWITTER_API_SECRET: ${{ secrets.TWITTER_API_SECRET }}
          TWITTER_ACCESS_TOKEN: ${{ secrets.TWITTER_ACCESS_TOKEN }}
          TWITTER_ACCESS_SECRET: ${{ secrets.TWITTER_ACCESS_SECRET }}
        run: |
          cd scripts/twitter_post_bot && npm install && npm run execute
